*{
    padding: 0;
    margin: 0;
}
#cadastro{
    width: 400px;
    height: 300px;
    margin-top: 2%;
    margin-left: 36%;
    position: fixed;
    background-color: aqua;
    align-items: center;
    border-radius: 5px;
}
h1{
    width: 600px;
    height: 50px;
    padding-top: 50px;
    margin-left: 38%;
}
.container{
    margin-left: 25%;
    margin-top: 50px;
    font-size: 20px;
}
.container label{
    padding: 20px;
    margin: 0px;
    margin-left: -40px;
}
#email{
    padding: 16px;
}
.container input{
    padding: 5px;
    margin: 6px;
}
#btn{
    width: 80px;
    height: 25px;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 150px;
    background-color: rgb(187, 125, 245, 0.5);
}
body{
    justify-content: center;
    background-color: azure;
}